build:
  type: text
  content: |-
    #!/bin/sh

    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Yash Upadhyay
lastUpdatedOn: 2022-09-06T07:55:44.105Z
